<%= form_with model: meal_plan do |form| %>
  <% meal_plan.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
  <p>
    <%= form.label :date_range_start %><br>
    <%= form.date_field :date_range_start, value: meal_plan.date_range&.min  %>
  </p>

  <p>
    <%= form.label :date_range_end %><br>
    <%= form.date_field :date_range_end, value: meal_plan.date_range&.max  %><br>
  </p>

  <p>
    <table>
      <tr>
        <th>Day</th>
        <th>Note</th>
      </tr>
      <% meal_plan.meal_plan_days.each do |meal_plan_day| %>
        <tr>
          <%= fields_for "meal_plan_day[]", meal_plan_day do |meal_plan_day_fields| %>
            <td><%= meal_plan_day.date %> <%= meal_plan_day.date.strftime("%a") %></td>
            <td><%= meal_plan_day_fields.text_field :note %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

