<%= form_with model: recipe do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% recipe.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :instructions %><br>
    <%= form.text_area :instructions %><br>
    <% recipe.errors.full_messages_for(:instructions).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :calories %><br>
    <%= form.text_area :calories %><br>
    <% recipe.errors.full_messages_for(:calories).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :carbs %><br>
    <%= form.text_area :carbs %><br>
    <% recipe.errors.full_messages_for(:carbs).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :protein %><br>
    <%= form.text_area :protein %><br>
    <% recipe.errors.full_messages_for(:protein).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :fat %><br>
    <%= form.text_area :fat %><br>
    <% recipe.errors.full_messages_for(:fat).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

