<%= form_with model: recipe do |form| %>
  <% recipe.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <p>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
  </p>

  <h3><%= form.label :instructions %></h3>
  <%= form.text_area :instructions %>

  <h3>Nutrition</h3>
  <p>
    <%= form.label :calories %>
    <br>
    <%= form.text_field :calories %>
  </p>
  <p>
    <%= form.label :carbs %>
    <br>
    <%= form.text_field :carbs %>
  </p>
  <p>
    <%= form.label :protein %>
    <br>
    <%= form.text_field :protein %>
  </p>
  <p>
    <%= form.label :fat %>
    <br>
    <%= form.text_field :fat %>
  </p>

  <%= form.submit %>
<% end %>
