<h1><%= @recipe.title %></h1>

<h3>Instructions</h3>
<p><%= @recipe.instructions %></p>

<h3>Ingredients</h3>
<ul>
  <%= render partial: @recipe.ingredients, locals: {editable: false} %>
</ul>

<h3>Nutrition (per serving)</h3>
Calories: <%= @recipe.calories %><br/>
Carbs: <%= @recipe.carbs %><br/>
Protein: <%= @recipe.protein %><br/>
Fat: <%= @recipe.fat %><br/>

<ul>
  <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
</ul>

