<li>
  <%= ingredient.food_item.name %>
  <%= ingredient.quantity_per_serving %>
  <%= ingredient.food_item.unit %> 
  <% if editable %>
    <%= link_to "Edit", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %>
    <%= link_to "Remove", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>
  <% end %>
</li>
