<h1>New Meal</h1>

<% if !@recipe %>
  <%= form_with url: new_meal_plan_day_meal_path, method: :get do |form| %>
    <%= form.label :query, "Search for recipe" %>
    <%= form.text_field :query, value: @query %>
    <%= form.submit "Search" %>
  <% end %>

  <% if @search_results %>
    <ul>
      <% @search_results.each do |recipe| %>
        <li>
          <%= link_to recipe.title, new_meal_plan_day_meal_path(recipe_id: recipe.id) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <%= form_with model: [ @meal_plan_day, @meal ] do |form| %>
    <%= form.hidden_field :recipe_id, value: @recipe.id %>

    <p><h2><%= @recipe.title %></h2></p>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :servings %><br>
      <%= form.number_field :servings, step: 0.5 %>
    </p>
  
    <p>
      <%= form.label :eat_at %><br>
      <%= form.datetime_field :eat_at %><br>
    </p>
  
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>

