<%= form_with model: food_item do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% food_item.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :unit %><br>
    <%= form.text_field :unit %><br>
    <% food_item.errors.full_messages_for(:unit).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

