<h1><%= @food_item.name %></h1>

<p>
  <strong>Unit:</strong>
  <%= @food_item.unit %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @food_item.calories %>
</p>

<p>
  <strong>Carbs:</strong>
  <%= @food_item.carbs %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @food_item.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @food_item.fat %>
</p>

<ul>
  <li><%= link_to "Edit", edit_food_item_path(@food_item) %></li>
  <li><%= link_to "Destroy", food_item_path(@food_item),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
