<div><%= meal_plan_day.note %></div>
<%= render meal_plan_day.meals %>
<ul>
  <li><%= link_to "Add Meal", new_meal_plan_day_meal_path(meal_plan_day) %></li>
  <li><%= link_to "Edit Note", edit_meal_plan_day_path(meal_plan_day) %></li>
  <li><%= link_to "Copy to rest of MealPlan", copy_meal_plan_day_path(meal_plan_day), method: :post %></li>
</ul>
