<h1>MealPlanDay <%= @meal_plan_day.date %></h1>

<p>
  <strong>Calories:</strong>
  <%= @meal_plan_day.calories %>
</p>

<p>
  <strong>Carbs:</strong>
  <%= @meal_plan_day.carbs %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @meal_plan_day.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @meal_plan_day.fat %>
</p>

